body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #337ab7;
    font-size: 40px;
    margin-bottom: 10px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

header nav li {
    margin-right: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

header nav a:hover {
    color: #ccc;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filme {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filme img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.filme h2 {
    font-size: 18px;
    margin-top: 10px;
}

.filme p {
    font-size: 14px;
    color: #666;
}

.filme button {
    background-color: #337ab7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.filme button:hover {
    background-color: #23527c;
}

footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: #fff;
}
